body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #013160;
    color: white;
    box-shadow: 0px 0px 10px rgb(98, 98, 98);
    position: relative;
  }
  .nav-header ul {
    display: flex;
    list-style: none;
    gap: 40px;
  }
  .nav-header ul a {
    text-decoration: none;
    color: white;
  }
  .login{
      border-radius: 50%;
      position: absolute;
      top: 1.4rem;
      right: 5rem;
      cursor: pointer;
  }
  .login img{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid #000000;
  }
  
  .titel-header {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .titel-header a {
    text-decoration: none;
    color: white;
  }
  .wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    margin: 0;
  }
  .faq-titel-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titel-faq{
    margin-bottom: 3rem;
    font-family: "Inter", sans-serif;
    background-color: white;
    padding: 2rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0 0 7rem 0;
  }
  .open-close{
    text-align: end;
  }
  .faq-container{
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
    width: 30%;
    list-style: none;
    cursor: pointer;
    height: 9rem;
  }
  .faq-container:hover{
    background-color: #c9ecff;
    color: rgb(0, 0, 0);
  }
  .question{
    text-align: start;
    padding-left: 2rem;
  }
  .answer{
    display: none;
  }
  .show-answer{
    display: block;
    text-align: start;
    padding-left: 2rem;
  }
  .footer{
    position: absolute;
    background-color: #4c6278;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(98, 98, 98);
    padding: 0.5rem 0;
    bottom: 0;
    left:0;
    right: 0;
  }