body {
  padding: 0;
  margin: 0;
  background-color: #a7c6e7;
  position: relative;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #013160;
  color: white;
  box-shadow: 0px 0px 10px rgb(98, 98, 98);
  position: relative;
}
.first-message{
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    width: 20%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 5rem;
    text-align: start;
    background-color: #faf7f7;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.first-message-noLogin{
  position: absolute;
  top: 30%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: red;
  padding: 2rem;
  text-align: center;
  background-color: #cecece;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.first-message span{
  position: relative;
}

.first-message span::before{
  content: "Good luck!!";
  color: #2c6f8d;
  animation: words 20s infinite;
}
.first-message span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  right: 0;
  background-color: #faf7f7;
  border-left: 2px solid #73b9ff;
  animation: cursor .8s infinite, typing 20s steps(100) infinite;
}

@keyframes cursor {
  to{
      border-left: 0px solid rgb(82, 82, 82);
  }
}

@keyframes words {
  20%{
      content: "Choose";
  }

  40%{
      content: "Act";
  }

  60%{
      content: "Master";
  }
  80%{
      content: "Win";
  }
}

@keyframes typing {

  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
      width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
      width: calc(100% + 8px);
  }
}

#btn-noLogin{
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #0467d0; 
  color: #fff; 
  font-size: 16px;
  text-decoration: none;
  border: none;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}
.defaultContainerCategorie{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #091522;
}.nav-header ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.nav-header ul a {
  text-decoration: none;
  color: white;
}
.profile{
    border-radius: 50%;
    position: absolute;
    top: 1.4rem;
    right: 5rem;
    cursor: pointer;
}
img.profile{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #000000;
}

.titel-header {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.titel-header a {
  text-decoration: none;
  color: white;
}
.sidebar {
  border: 1px solid rgba(247, 247, 247, 0.553);
  width: 15rem;
  box-shadow: 0 0 6px grey;
}
.sidebar label {
  padding: 1.5rem;
}
.body {
  display: flex;
}
.sidebar {
  background-color: #f0f0f0;
  padding: 20px;
}
#sidebar-btn-close-open{
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background: black;
  color: white;
  font-size: 1rem;
  border: 2px solid rgb(180, 180, 180);
  cursor: pointer;
}
.sidebar h3 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.sidebar label {
  display: inline-block;
}

.sidebar input[type="reset"] {
  background-color: #091522;
  color: #ffffff;
  border: none;
  padding: 12px 6.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar input,
.sidebar label {
  line-height: 5px;
  cursor: pointer;
}

.sidebar input[type="reset"]:hover {
  background-color: #0056b3;
}

.sidebar input[type="reset"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(180, 197, 216, 0.5);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
}
.individueleKaart {
  border: 1px solid rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 15px #363636;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #bbefff;
  width: 20rem;
  height: 24rem;
  cursor: pointer;
  position: relative;
}
.individueleKaart img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 85%;
}
.individueleKaart:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  opacity: 0.8;
}

.difficulty {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    font-size: 16px;
}

@media screen and (max-width: 750px) {
  .header {
    flex-direction: column;
    gap: 0rem;
  }
  .login{
    display: none;
}
  .nav-header ul {
    gap: 20px;
  }
  .titel-header {
    margin-top: 1rem;
  }
  .titel-main {
    font-size: 2rem;
  }
  .text-main {
    width: 90%;
  }
  .btn-login {
    width: 15rem;
    padding: 1rem;
  }
  .cards{
    display: none;
  }
  .sidebar {
    width:100%;
  }
  .sidebar h3{
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  #categorie-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #categorie-form input {
    display: none;
  }
  #categorie-form label {
    display: inline-block;
    padding: 2rem;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 80%;
    background-color: #50759d;
    color: white;
  }
}
  @media screen and (max-width: 850px) {
    .first-message{
      display: none;
    }
    .login{
      display: none;
    }
}