body {
  padding: 0;
  margin: 0;
  background-color: #a7c6e7;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #013160;
  color: white;
  box-shadow: 0px 0px 10px rgb(98, 98, 98);
  position: relative;
}
.first-message{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 5rem;
    text-align: center;
    background-color: #d9d5d5b0;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

}
.rain1 {
  position: relative;
  width: 20px; 
  height: 40px;
  margin: 0 auto;
  height: 100vh;
}

.rain1::before {
  content: "";
  position: absolute;
  width: 20px; 
  height: 40px;
  border-radius: 50%;
  background: rgb(135, 188, 241);
  top: -30px;
  right: -150px;
  animation: falling-raindrop 1s linear infinite;
}

@keyframes falling-raindrop {
  0% {
    transform: translateY(-30px) scale(1);
  }
  100% {
    transform: translateY(100vh) scale(0.2);
    opacity: 0;
  }
}

.rain2 {
  position: relative;
  width: 20px; 
  height: 40px;
  margin: 0 auto;
  height: 100vh;
}

.rain2::before {
  content: "";
  position: absolute;
  width: 20px; 
  height: 40px;
  border-radius: 50%;
  background: rgb(135, 188, 241);
  top: -30px;
  right: -320px;
  animation: falling-raindrop2 1s linear infinite;
}

@keyframes falling-raindrop2 {
  0% {
    transform: translateY(-30px) scale(1);
  }
  100% {
    transform: translateY(100vh) scale(0.2);
    opacity: 0;
  }
}
.defaultContainerCategorie{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #091522;
}
.rain3 {
  position: relative;
  width: 20px; 
  height: 40px;
  margin: 0 auto;
  height: 100vh;
}

.rain3::before {
  content: "";
  position: absolute;
  width: 20px; 
  height: 40px;
  border-radius: 50%;
  background: rgb(135, 188, 241);
  top: -30px;
  right: -250px;
  animation: falling-raindrop3 1s linear infinite;
}

@keyframes falling-raindrop3 {
  0% {
    transform: translateY(-30px) scale(1);
  }
  100% {
    transform: translateY(100vh) scale(0.2);
    opacity: 0;
  }
}

.rain4 {
  position: relative;
  width: 20px; 
  height: 40px;
  margin: 0 auto;
  height: 100vh;
}

.rain4::before {
  content: "";
  position: absolute;
  width: 20px; 
  height: 40px;
  border-radius: 50%;
  background: rgb(135, 188, 241);
  top: -30px;
  right: -300px;
  animation: falling-raindrop4 1s linear infinite;
}

@keyframes falling-raindrop4 {
  0% {
    transform: translateY(-30px) scale(1);
  }
  100% {
    transform: translateY(100vh) scale(0.2);
    opacity: 0;
  }
}


.rain5 {
  position: relative;
  width: 20px; 
  height: 40px;
  margin: 0 auto;
  height: 100vh;
}

.rain5::before {
  content: "";
  position: absolute;
  width: 20px; 
  height: 40px;
  border-radius: 50%;
  background: rgb(135, 188, 241);
  top: -30px;
  right: -400px;
  animation: falling-raindrop5 1s linear infinite;
}

@keyframes falling-raindrop5 {
  0% {
    transform: translateY(-30px) scale(1);
  }
  100% {
    transform: translateY(100vh) scale(0.2);
    opacity: 0;
  }
}
.nav-header ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.nav-header ul a {
  text-decoration: none;
  color: white;
}
.login{
    border-radius: 50%;
    position: absolute;
    top: 1.4rem;
    right: 5rem;
    cursor: pointer;
}
.login img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #000000;
}

.titel-header {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.titel-header a {
  text-decoration: none;
  color: white;
}
.sidebar {
  border: 1px solid rgba(247, 247, 247, 0.553);
  width: 15rem;
  box-shadow: 0 0 6px grey;
}
.sidebar label {
  padding: 1.5rem;
}
.body {
  display: flex;
}
.sidebar {
  background-color: #f0f0f0;
  padding: 20px;
}
.sidebar h3 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.sidebar label {
  display: inline-block;
}

.sidebar input[type="reset"] {
  background-color: #091522;
  color: #ffffff;
  border: none;
  padding: 12px 6.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar input,
.sidebar label {
  line-height: 5px;
  cursor: pointer;
}

.sidebar input[type="reset"]:hover {
  background-color: #0056b3;
}

.sidebar input[type="reset"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(180, 197, 216, 0.5);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
}
.individueleKaart {
  border: 1px solid rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 15px #4b75a5;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #bbefff;
  width: 20rem;
  height: 24rem;
  cursor: pointer;
  position: relative;
}
.individueleKaart img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 85%;
}
.individueleKaart:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  opacity: 0.8;
}

.kaart {

}

.difficulty {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    font-size: 16px;
}
