body {
    padding: 0;
    margin: 0;
    background-color: #a7c6e7;
    height: 100vh;
    overflow: hidden;
}

.main {
    background-color: #a7c6e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    overflow: auto;
    margin-top: 6rem;

}

.option-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    width: 68rem;
    height: 28rem;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(98, 98, 98);
}

.options {
    width: 47%;
    margin: 1rem;
    height: 12rem;
    background-color: #4d6985;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(98, 98, 98, 0.173);
}
.action-btns {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
    position: fixed; 
    bottom: 2rem; 
    width: 100%;
    padding: 1rem;
}


.btn-send{
    padding: 1rem 4rem;
    border-radius: 15px;
    outline: none;
    border: 1px solid rgb(158, 158, 202);
    background-color: rgb(158, 158, 202);
    color: white;
    font-size: 1.3rem;
    margin-right: 2rem;
    cursor: pointer;
}
.btn-send:active{
    transition: transform 0.1s ease;
    transform: scale(0.9);
}
.btn-send:hover{
    background-color: rgb(133, 133, 178);
}
.btn-exit{
    padding: 1rem 4rem;
    border-radius: 15px;
    outline: none;
    border: 1px solid rgb(158, 158, 202);
    background-color: rgb(132, 209, 173);
    color: white;
    font-size: 1.3rem;
    margin-right: 2rem;
    cursor: pointer;
}
.btn-exit:active{
    transition: transform 0.1s ease;
    transform: scale(0.9);
}
.btn-exit:hover{
    background-color: rgb(115, 177, 148);
}
.container-container-header{
    display: flex;
    justify-content: center;
}
.container-header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4d6985;
    color: whitesmoke;
    box-shadow: 0px 0px 10px rgb(125, 154, 195);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    gap:5rem;
}
.question {
    text-align: center;
    padding: 2rem;
    margin: 0;
}
#timer{
    font-size: 1.5rem;
    color: white;
    text-align: end;
    margin-right: 1rem;
}
.container-header img{
    margin-left: 1rem;
    width: 30px;
    height: 30px;
    background: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
#score {
    display: flex;
    gap: 15px;
}
.end-quiz {
    background: rgb(255, 255, 255);
    padding: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(98, 98, 98);
    text-align: center;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.actions{
    display: flex;
    justify-content: space-between;
}
.btn-back{
    padding: 1rem 4rem;
    border-radius: 15px;
    outline: none;
    border: 1px solid rgb(158, 158, 202);
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 1.3rem;
    margin-right: 2rem;
    cursor: pointer;
}
.btn-results{
    padding: 1rem 4rem;
    border-radius: 15px;
    outline: none;
    border: 1px solid rgb(158, 158, 202);
    background-color: rgb(0, 148, 57);
    color: white;
    font-size: 1.3rem;
    margin-right: 2rem;
    cursor: pointer;

}
.streak{
    padding: 1rem;
    background-color: azure;
    border-radius: 50%;
}
@media screen and (max-width: 600px) {
    #score{
        flex-wrap: wrap;
    }
    .action-btns{
        max-width: 100%;
    }
    .option-container{
        position: relative;
    }
    .btn-exit{
        position: absolute;
        left: 2rem; 
        bottom: 0;
        padding: 1rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 68, 0);
        color: white;
        font-size: 1rem; 
        font-weight: bold;
        border: 1px solid rgb(158, 158, 202);
        cursor: pointer;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        margin: 0;
    }
    .btn-send{
        position: absolute;
        right: 2rem; 
        bottom: 0;
        padding: 1rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 217, 255);
        color: white;
        font-size: 1rem; 
        font-weight: bold;
        border: 1px solid rgb(121, 121, 255);
        cursor: pointer;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        margin: 0;
    }

}
@media screen and (max-width: 925px) {

    .container-header{
        width: 100%;
        text-align: center;
    }
    .main{
        position: relative;
    }
    .options{
        width: 90%;
    }
    .action-btns{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        max-width: 100%;
    }
    .btn-exit{
        padding: 1rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 68, 0);
        color: white;
        font-size: 1rem; 
        font-weight: bold;
        border: 1px solid rgb(158, 158, 202);
        cursor: pointer;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        margin: 0;
    }
    .btn-send{
        padding: 1rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 217, 255);
        color: white;
        font-size: 1rem; 
        font-weight: bold;
        border: 1px solid rgb(121, 121, 255);
        cursor: pointer;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        margin: 0;
    }
    #music{
        display: none;
    }
    #timer{
        position: absolute;
        bottom:0;
        left: 40%;
        right: 40%;
        font-weight: bold;
        background-color: rgb(0, 41, 92);
        text-align: center;
        border-radius: 15px;
        margin: 0;
    }
    
}
@media screen and (max-width: 1075px) {
    body{
        overflow:visible;
    }
    .container-header{
        width: 100%;
        position: relative;
        text-align: center;
    }
    .option-container{
        flex-direction: column;
        flex-wrap: nowrap;
        width: 60%;
        gap: 0rem;
    }
    .options{
        width: 90%;
    }
    .btn-exit{
        border: 50%;
    }
    .btn-send{
        border: 50%;
    }
    #music{
        display: none;
    }
    #timer{
        position: absolute;
        bottom:0;
        left: 40%;
        right: 40%;
        font-weight: bold;
        background-color: rgb(0, 41, 92);
        text-align: center;
        border-radius: 15px;
        margin: 0;
    }
}
